include:
  - template: Terraform/Base.latest.gitlab-ci.yml
  - template: Jobs/SAST-IaC.latest.gitlab-ci.yml

stages:
  - validate
  - build
  - deploy
  - destroy

variables:
  TF_ROOT: "ressources/"
  AWS_DEFAULT_REGION: "us-east-2"
  AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
  AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY

before_script:
  - cd ${TF_ROOT}
  - terraform init

validate:
  stage: validate
  script:
    - terraform validate
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'

build:
  stage: build
  script:
    - terraform plan -out=tfplan
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'

deploy:
  stage: deploy
  script:
    - terraform apply tfplan
  environment:
    name: production
    action: start
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

destroy:
  stage: destroy
  script:
    - terraform destroy -auto-approve
  environment:
    name: production
    action: stop
  when: manual
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

# Assurez-vous que les stages pour SAST-IaC sont définis ou retirez cette partie si elle n'est pas nécessaire
iac-sast:
  stage: test # Modifier 'test' au stage approprié si nécessaire
  script:
    - echo "SAST-IaC job"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'